.container {
    display: flex;
    justify-content: space-around;
}
.form-container {
    width: 300px;
    margin-top: 20px;
}
.form-container input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container button:hover{
    background-color: darkgreen;
}
.output-container {
    margin-top: 20px;
}
h2{
    text-align: justify;
}